.day {
  display: inline-grid;
  grid-template-rows: 160px 160px 160px 160px;
  grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
  grid-gap: 3px;
  margin-top: 100px;
  padding-bottom: 20px;
}

.singleDay {
  border: 2px solid black;
}
